.idea/
Backend/Compiled/
/node_modules/
Backend/node_modules/.bin/
Backend/node_modules/.yarn-integrity
Backend/node_modules/@protobufjs/
Backend/node_modules/@types/
Backend/node_modules/abbrev/
Backend/node_modules/accepts/
Backend/node_modules/after/
Backend/node_modules/ajv/
Backend/node_modules/ansi-regex/
Backend/node_modules/ansi-styles/
Backend/node_modules/anymatch/
Backend/node_modules/ap/
Backend/node_modules/append-field/
Backend/node_modules/aproba/
Backend/node_modules/are-we-there-yet/
Backend/node_modules/arr-diff/
Backend/node_modules/arr-flatten/
Backend/node_modules/array-flatten/
Backend/node_modules/array-unique/
Backend/node_modules/arraybuffer.slice/
Backend/node_modules/arrify/
Backend/node_modules/asn1/
Backend/node_modules/assert-plus/
Backend/node_modules/assertion-error/
Backend/node_modules/async-each/
Backend/node_modules/asynckit/
Backend/node_modules/aws-sign2/
Backend/node_modules/aws4/
Backend/node_modules/backo2/
Backend/node_modules/balanced-match/
Backend/node_modules/base64-arraybuffer/
Backend/node_modules/base64id/
Backend/node_modules/bcrypt-pbkdf/
Backend/node_modules/bcrypt/
Backend/node_modules/better-assert/
Backend/node_modules/bignumber.js/
Backend/node_modules/binary-extensions/
Backend/node_modules/bindings/
Backend/node_modules/blob/
Backend/node_modules/block-stream/
Backend/node_modules/bluebird/
Backend/node_modules/body-parser/
Backend/node_modules/boom/
Backend/node_modules/brace-expansion/
Backend/node_modules/braces/
Backend/node_modules/browser-stdout/
Backend/node_modules/buffer-shims/
Backend/node_modules/buffer-writer/
Backend/node_modules/busboy/
Backend/node_modules/bytes/
Backend/node_modules/callsite/
Backend/node_modules/caseless/
Backend/node_modules/chai/
Backend/node_modules/chalk/
Backend/node_modules/chokidar/
Backend/node_modules/co/
Backend/node_modules/code-point-at/
Backend/node_modules/combined-stream/
Backend/node_modules/commander/
Backend/node_modules/component-bind/
Backend/node_modules/component-emitter/
Backend/node_modules/component-inherit/
Backend/node_modules/compressible/
Backend/node_modules/compression/
Backend/node_modules/concat-map/
Backend/node_modules/concat-stream/
Backend/node_modules/configstore/
Backend/node_modules/connect-session-sequelize/
Backend/node_modules/console-control-strings/LICENSE
Backend/node_modules/console-control-strings/README.md
Backend/node_modules/console-control-strings/index.js
Backend/node_modules/console-control-strings/package.json
Backend/node_modules/content-disposition/
Backend/node_modules/content-type/
Backend/node_modules/cookie-signature/
Backend/node_modules/cookie/
Backend/node_modules/cookiejar/
Backend/node_modules/core-util-is/
Backend/node_modules/crc/
Backend/node_modules/cross-env/
Backend/node_modules/cross-spawn/
Backend/node_modules/cryptiles/
Backend/node_modules/dashdash/
Backend/node_modules/de
bug/
Backend/node_modules/deep-eql/
Backend/node_modules/deep-equal/
Backend/node_modules/deep-extend/
Backend/node_modules/delayed-stream/
Backend/node_modules/delegates/
Backend/node_modules/depd/
Backend/node_modules/destroy/
Backend/node_modules/dicer/
Backend/node_modules/diff/
Backend/node_modules/dottie/
Backend/node_modules/double-ended-queue/
Backend/node_modules/duplexer/
Backend/node_modules/duplexify/
Backend/node_modules/ecc-jsbn/
Backend/node_modules/ee-first/
Backend/node_modules/encodeurl/
Backend/node_modules/end-of-stream/
Backend/node_modules/engine.io-client/
Backend/node_modules/engine.io-parser/
Backend/node_modules/engine.io/
Backend/node_modules/es6-promise/
Backend/node_modules/escape-html/
Backend/node_modules/escape-string-regexp/
Backend/node_modules/etag/
Backend/node_modules/event-stream/
Backend/node_modules/expand-brackets/
Backend/node_modules/expand-range/
Backend/node_modules/express-graphql/
Backend/node_modules/express-session/
Backend/node_modules/express/
Backend/node_modules/extend/
Backend/node_modules/extglob/
Backend/node_modules/extsprintf/
Backend/node_modules/filename-regex/
Backend/node_modules/fill-range/
Backend/node_modules/finalhandler/
Backend/node_modules/for-in/
Backend/node_modules/for-own/
Backend/node_modules/forever-agent/
Backend/node_modules/form-data/
Backend/node_modules/formatio/
Backend/node_modules/formidable/
Backend/node_modules/forwarded/
Backend/node_modules/fresh/
Backend/node_modules/from/
Backend/node_modules/fs.realpath/
Backend/node_modules/fstream-ignore/
Backend/node_modules/fstream/
Backend/node_modules/gauge/
Backend/node_modules/generic-pool/
Backend/node_modules/getpass/
Backend/node_modules/glob-base/
Backend/node_modules/glob-parent/
Backend/node_modules/glob/
Backend/node_modules/got/
Backend/node_modules/graceful-fs/
Backend/node_modules/graceful-readlink/
Backend/node_modules/graphql/
Backend/node_modules/growl/
Backend/node_modules/har-schema/
Backend/node_modules/har-validator/
Backend/node_modules/has-ansi/
Backend/node_modules/has-binary/
Backend/node_modules/has-cors/
Backend/node_modules/has-flag/
Backend/node_modules/has-unicode/
Backend/node_modules/hawk/
Backend/node_modules/hoek/
Backend/node_modules/http-errors/
Backend/node_modules/http-signature/
Backend/node_modules/iconv-lite/
Backend/node_modules/ignore-by-default/
Backend/node_modules/imurmurhash/
Backend/node_modules/indexof/
Backend/node_modules/infinity-agent/
Backend/node_modules/inflection/
Backend/node_modules/inflight/
Backend/node_modules/inherits/
Backend/node_modules/ini/
Backend/node_modules/ipaddr.js/
Backend/node_modules/is-binary-path/
Backend/node_modules/is-buffer/
Backend/node_modules/is-dotfile/
Backend/node_modules/is-equal-shallow/
Backend/node_modules/is-extendable/
Backend/node_modules/is-extglob/
Backend/node_modules/is-finite/
Backend/node_modules/is-fullwidth-code-point/
Backend/node_modules/is-glob/
Would remov
e Backend/node_modules/is-npm/
Backend/node_modules/is-number/
Backend/node_modules/is-posix-bracket/
Backend/node_modules/is-primitive/
Backend/node_modules/is-redirect/
Backend/node_modules/is-stream/
Backend/node_modules/is-typedarray/
Backend/node_modules/is-windows/
Backend/node_modules/isarray/
Backend/node_modules/isexe/
Backend/node_modules/isobject/
Backend/node_modules/isstream/
Backend/node_modules/iterall/
Backend/node_modules/jodid25519/
Backend/node_modules/jsbn/
Backend/node_modules/json-schema/
Backend/node_modules/json-stable-stringify/
Backend/node_modules/json-stringify-safe/
Backend/node_modules/json3/
Backend/node_modules/jsonify/
Backend/node_modules/jsprim/
Backend/node_modules/kind-of/
Backend/node_modules/latest-version/
Backend/node_modules/lodash._baseassign/
Backend/node_modules/lodash._basecopy/
Backend/node_modules/lodash._basecreate/
Backend/node_modules/lodash._bindcallback/
Backend/node_modules/lodash._createassigner/
Backend/node_modules/lodash._getnative/
Backend/node_modules/lodash._isiterateecall/
Backend/node_modules/lodash.assign/
Backend/node_modules/lodash.create/
Backend/node_modules/lodash.defaults/
Backend/node_modules/lodash.isarguments/
Backend/node_modules/lodash.isarray/
Backend/node_modules/lodash.keys/
Backend/node_modules/lodash.restparam/
Backend/node_modules/lodash/
Backend/node_modules/lolex/
Backend/node_modules/long/
Backend/node_modules/lowercase-keys/
Backend/node_modules/lru-cache/
Backend/node_modules/map-stream/
Backend/node_modules/media-typer/
Backend/node_modules/merge-descriptors/
Backend/node_modules/methods/
Backend/node_modules/micromatch/
Backend/node_modules/mime-db/
Backend/node_modules/mime-types/
Backend/node_modules/mime/
Backend/node_modules/minimatch/
Backend/node_modules/minimist/
Backend/node_modules/mkdirp/
Backend/node_modules/mocha/
Backend/node_modules/moment-timezone/
Backend/node_modules/moment/
Backend/node_modules/ms/
Backend/node_modules/multer/
Backend/node_modules/mysql/
Backend/node_modules/nan/
Backend/node_modules/native-promise-only/
Backend/node_modules/negotiator/
Backend/node_modules/nested-error-stacks/LICENSE
Backend/node_modules/nested-error-stacks/README.md
Backend/node_modules/nested-error-stacks/index.js
Backend/node_modules/nested-error-stacks/package.json
Backend/node_modules/node-pre-gyp/
Backend/node_modules/nodemon/
Backend/node_modules/nopt/
Backend/node_modules/normalize-path/
Backend/node_modules/npmlog/
Backend/node_modules/number-is-nan/
Backend/node_modules/oauth-sign/
Backend/node_modules/oauth/
Backend/node_modules/object-assign/
Backend/node_modules/object-component/
Backend/node_modules/object.omit/
Backend/node_modules/on-finished/
Backend/node_modules/on-headers/
Backend/node_modules/once/
Backend/node_modules/options/
Backend/node_modules/os-homedir/
Backend/node_modules/os-tmpdir/
Backend/node_modules/osenv/
Backend/node_modules/package-json/
Backend/node_modules/packet-reader/
Backend/node_modules/parse-g
lob/
Backend/node_modules/parsejson/
Backend/node_modules/parseqs/
Backend/node_modules/parseuri/
Backend/node_modules/parseurl/
Backend/node_modules/passport-facebook-token/
Backend/node_modules/passport-facebook/
Backend/node_modules/passport-google-oauth2/
Backend/node_modules/passport-local/
Backend/node_modules/passport-oauth/
Backend/node_modules/passport-oauth1/
Backend/node_modules/passport-oauth2/
Backend/node_modules/passport-strategy/
Backend/node_modules/passport-twitter/
Backend/node_modules/passport/
Backend/node_modules/path-is-absolute/
Backend/node_modules/path-to-regexp/
Backend/node_modules/pause-stream/
Backend/node_modules/pause/
Backend/node_modules/performance-now/
Backend/node_modules/pg-connection-string/
Backend/node_modules/pg-hstore/
Backend/node_modules/pg-pool/
Backend/node_modules/pg-types/
Backend/node_modules/pg/
Backend/node_modules/pgpass/
Backend/node_modules/pinkie-promise/
Backend/node_modules/pinkie/
Backend/node_modules/postgres-array/
Backend/node_modules/postgres-bytea/
Backend/node_modules/postgres-date/
Backend/node_modules/postgres-interval/
Backend/node_modules/prepend-http/
Backend/node_modules/preserve/
Backend/node_modules/process-nextick-args/
Backend/node_modules/protobufjs/
Backend/node_modules/proxy-addr/
Backend/node_modules/ps-tree/
Backend/node_modules/pseudomap/
Backend/node_modules/punycode/
Backend/node_modules/qs/
Backend/node_modules/random-bytes/
Backend/node_modules/randomatic/
Backend/node_modules/range-parser/
Backend/node_modules/raw-body/
Backend/node_modules/rc/
Backend/node_modules/read-all-stream/
Backend/node_modules/readable-stream/
Backend/node_modules/readdirp/
Backend/node_modules/redis-commands/
Backend/node_modules/redis-parser/
Backend/node_modules/redis/
Backend/node_modules/regex-cache/
Backend/node_modules/registry-url/
Backend/node_modules/remove-trailing-separator/
Backend/node_modules/repeat-element/
Backend/node_modules/repeat-string/
Backend/node_modules/repeating/
Backend/node_modules/request/
Backend/node_modules/retry-as-promised/
Backend/node_modules/rimraf/
Backend/node_modules/safe-buffer/
Backend/node_modules/samsam/
Backend/node_modules/semver-diff/
Backend/node_modules/semver/
Backend/node_modules/send/
Backend/node_modules/sequelize/
Backend/node_modules/serve-static/
Backend/node_modules/set-blocking/
Backend/node_modules/set-immediate-shim/
Backend/node_modules/setprototypeof/
Backend/node_modules/shebang-command/
Backend/node_modules/shebang-regex/
Backend/node_modules/shimmer/
Backend/node_modules/signal-exit/
Backend/node_modules/sinon/
Backend/node_modules/slide/
Backend/node_modules/sntp/
Backend/node_modules/socket.io-adapter/
Backend/node_modules/socket.io-client/
Backend/node_modules/socket.io-parser/
Backend/node_modules/socket.io/
Backend/node_modules/split/
Backend/node_modules/sqlstring/
Backend/node_modules/sshpk/
Backend/node_modules/statuses/
Backend/node_modules/stream-combiner/
Backend/node_modules/
stream-shift/
Backend/node_modules/streamsearch/
Backend/node_modules/string-length/
Backend/node_modules/string-width/
Backend/node_modules/string_decoder/
Backend/node_modules/stringstream/
Backend/node_modules/strip-ansi/
Backend/node_modules/strip-json-comments/
Backend/node_modules/superagent/
Backend/node_modules/supertest/
Backend/node_modules/supports-color/
Backend/node_modules/tar-pack/
Backend/node_modules/tar/
Backend/node_modules/terraformer-wkt-parser/
Backend/node_modules/terraformer/
Backend/node_modules/text-encoding/
Backend/node_modules/through/
Backend/node_modules/timed-out/
Backend/node_modules/to-array/
Backend/node_modules/toposort-class/
Backend/node_modules/touch/
Backend/node_modules/tough-cookie/
Backend/node_modules/tunnel-agent/
Backend/node_modules/tweetnacl/
Backend/node_modules/type-detect/
Backend/node_modules/type-is/
Backend/node_modules/typedarray/
Backend/node_modules/uid-number/
Backend/node_modules/uid-safe/
Backend/node_modules/uid2/
Backend/node_modules/ultron/
Backend/node_modules/undefsafe/
Backend/node_modules/underscore/
Backend/node_modules/unpipe/
Backend/node_modules/update-notifier/
Backend/node_modules/util-deprecate/
Backend/node_modules/utils-merge/
Backend/node_modules/uuid/
Backend/node_modules/validator/
Backend/node_modules/vary/
Backend/node_modules/verror/
Backend/node_modules/which/
Backend/node_modules/wide-align/
Backend/node_modules/wkx/
Backend/node_modules/wrappy/
Backend/node_modules/write-file-atomic/
Backend/node_modules/ws/
Backend/node_modules/wtf-8/
Backend/node_modules/xdg-basedir/
Backend/node_modules/xmldom/
Backend/node_modules/xmlhttprequest-ssl/
Backend/node_modules/xtend/
Backend/node_modules/xtraverse/
Backend/node_modules/yallist/
Backend/node_modules/yeast/
BackendSRC/
node_modules/
/Backend/middleware/passport/facebook.ts
/Backend/tests/mocks.ts
/.gitignore
/Client/src/Container/test.tsx
/Client/src/Utils/GraphQL/mocks.tsx
/Client/src/Component/Card/mock.tsx
Client/Client.rar
/Backend/database/CreateDummyCards.ts
/docker-composeTestDB.yml
/docker-compose3.yml
!/docker-compose.yaml
/postBackup.dockerfile
!/Backend/database/CreateDummyCards.ts
/Backend/database/mocks.ts
/mock.yaml
/Backend/middleware/passport/config.ts
/swar-example.yaml
/conf.nginx
