user nginx;
worker_processes auto;
error_log /error.log warn;
pid /nginx.pid;

events {
    worker_connections 1024;
}

http {
    include       /etc/nginx/mime.types;
    sendfile on;

    gzip on;
    gzip_comp_level 6;
    gzip_vary on;
    gzip_min_length  1000;
    gzip_proxied any;
    gzip_types text/plain text/html text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;
    gzip_buffers 16 8k;

    upstream nodecluster {
        server node:3000;
    }



    server {
        listen 80;
        #listen 443 ssl;

        location ~*.(html|js)$ {
            root /etc/nginx/html/app1/;
            access_log off;
            expires max;
        }

        location / {
            proxy_pass         http://nodecluster;
            proxy_redirect     off;
            proxy_set_header   Host $host;
            proxy_set_header   X-Real-IP $remote_addr;
            proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header   X-Forwarded-Host $server_name;
        }

    }


}
